.tab-view {
  display: none;
  margin-top: 15px;

  &.active {
    display: block;
  }
}

.pull-right {
  float: right;
}

.affiliate-heading > * {
  line-height: 40px;
  padding: 0;
}

table#accounting-table > tbody > tr {
  cursor: pointer;
}

td.payment-details-container table {
  border-collapse: collapse;
  tr td {
    border: solid 1px lightgray;
  }
}

div.lp_container {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}
div.lp_titles_container {
  display: block;
  label.lp_list_title {
    display: inline-block;
    width: calc(50% - 4px);
    min-width: 200px;
    max-width: 500px;
    font-size: 1.2em;
    font-weight: bold;
    padding: 2px;
  }
}

select.page_selection {
  display: inline-block;
  width: calc(50% - 4px);
  min-width: 200px;
  max-width: 500px;
  min-height: 500px;

  option {
    padding: 2px;
    cursor: pointer;
  }
}

#aff-tabs a {
  outline: none !important;
  &:focus {
    outline: none !important;
  }
}
