.tab-view.active {
	display: block;
}
.tab-view {
	display: none;
	margin-top: 15px;
}

.pull-right
{
	float:right;
}

.affiliate-heading > *
{
	line-height: 40px;
	padding:0;
}

table#accounting-table > tbody > tr {
	cursor: pointer;
}

td.payment-details-container table
{
	border-collapse: collapse;
}

td.payment-details-container table tr td
{
	border:solid 1px lightgray;
}