@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");
:root {
  --button: #4a4aaf;
  --button-danger: #e61364;
  --button-secondary: #efefef;
  --info-bg: #d7eafd;
  --input-box: lightblue;
  --error-bg: #ffefef;
  --success-bg: #f1ffef;
  --main-bg: #f9f9f9;
  --table-borders: #ddd;
  --page-borders: #e7e7e7;
}

* {
  font-family: Poppins, Arial, sans-serif;
  font-weight: 300;
}

.message {
  background-color: var(--info-bg);
  line-height: 1.3em;
  border-radius: 4px;
  padding: 20px 10px;
}

.message.error {
  background-color: var(--error-bg);
}

.message.success {
  background-color: var(--success-bg);
}

.full-width {
  width: 100%;
}

.small {
  font-size: 0.8em;
}

.button,
button {
  cursor: pointer;
  color: white;
  border-radius: 4px;
  border: 0;
  outline: 0;
  line-height: 30px;
  font-weight: 500;
}

.button.primary,
button.primary {
  background-color: var(--button);
}

.button.danger,
button.danger {
  background-color: var(--button-danger);
}

.button.secondary,
button.secondary {
  background-color: var(--button-secondary);
}

.button.small,
button.small {
  line-height: 20px;
  font-size: 0.8em;
}

body {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px 1fr;
      grid-template-rows: 100px 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--main-bg);
  row-gap: 20px;
}

body.login-page, body.lost_pass-page {
  row-gap: 100px;
}

body.login-page .page-content, body.lost_pass-page .page-content {
  width: 600px;
  -ms-grid-column-align: center;
      justify-self: center;
}

body.join_us-page form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

body.affiliates-page header {
  width: 1000px;
  max-width: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'logo logout' 'logo title';
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.affiliates-page header .logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: logo;
}

body.affiliates-page header .logo img {
  height: 100px;
}

body.affiliates-page header .login-link {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: logout;
      justify-self: end;
}

body.affiliates-page header .header-text {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
}

body.affiliates-page.no-logo header {
      grid-template-areas: 'title logout';
}

body.affiliates-page.no-logo.logged-out header {
      grid-template-areas: 'title';
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body.affiliates-page .page-content {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  text-align: left;
  direction: ltr;
  background: white;
  padding: 20px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid 1px var(--page-borders);
}

body.affiliates-page .page-content.raise {
  -webkit-box-shadow: 0px 0px 15px 0px #0000001f;
          box-shadow: 0px 0px 15px 0px #0000001f;
}

body.affiliates-page .page-content.standard-width {
  width: 1000px;
  max-width: 100%;
}

body.affiliates-page .page-content.full-width {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body.affiliates-page .page-content table {
  border-collapse: collapse;
}

body.affiliates-page .page-content table tr:nth-child(even) {
  background-color: #f0f0f0;
}

body.affiliates-page .page-content table tr td,
body.affiliates-page .page-content table tr th {
  padding: 5px 10px;
  text-align: left;
}

body.affiliates-page .page-content table tr td span.small,
body.affiliates-page .page-content table tr th span.small {
  font-size: 0.8em;
}

body.affiliates-page .page-content table tr td .copiable,
body.affiliates-page .page-content table tr th .copiable {
  max-width: 400px;
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 320px 22px;
      grid-template-columns: 320px 22px;
  gap: 20px;
}

body.affiliates-page .page-content table tr td .copiable span,
body.affiliates-page .page-content table tr th .copiable span {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.8em;
  max-width: 320px;
  overflow: hidden;
  display: inline-block;
  text-align: left;
}

body.affiliates-page .page-content table tr th {
  text-align: left;
  border-top: solid 1px var(--table-borders);
  border-bottom: solid 1px var(--table-borders);
}

body.affiliates-page .page-content .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
          column-gap: 8px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 0;
}

body.affiliates-page .page-content .row label {
  white-space: nowrap;
  width: 180px;
}

body.affiliates-page .page-content .row input[type='text'],
body.affiliates-page .page-content .row input[type='password'],
body.affiliates-page .page-content .row input[type='email'],
body.affiliates-page .page-content .row input[type='phone'] {
  width: 100%;
  line-height: 30px;
  padding: 0 5px;
  border: solid 1px var(--input-box);
  border-radius: 4px;
}

body.affiliates-page .page-content .row input[type='checkbox'] {
  margin-right: 5px;
}

#bannerFarm {
  overflow: scroll;
  max-height: 600px;
}

#bannerFarm .banner_col_1,
#bannerFarm .banner_col_2,
#bannerFarm .banner_col_3 {
  width: calc(33% - 3px);
  display: block;
  vertical-align: top;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  float: left;
  margin-right: 6px;
}

#bannerFarm .banner_col_1 .banner_box,
#bannerFarm .banner_col_2 .banner_box,
#bannerFarm .banner_col_3 .banner_box {
  position: relative;
  display: block;
  width: 100%;
  border: solid 2px #e0e0e0;
  vertical-align: middle;
  text-align: center;
  min-height: 100px;
  background: white;
  margin-bottom: 5px;
  margin-right: 6px;
  padding: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-height: 300px;
}

#bannerFarm .banner_col_1 .banner_box .middle_helper,
#bannerFarm .banner_col_2 .banner_box .middle_helper,
#bannerFarm .banner_col_3 .banner_box .middle_helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#bannerFarm .banner_col_1 .banner_box img,
#bannerFarm .banner_col_2 .banner_box img,
#bannerFarm .banner_col_3 .banner_box img {
  vertical-align: middle;
  max-height: 280px;
  max-width: 100%;
}

#bannerFarm .banner_col_1 .banner_box .hover_shade,
#bannerFarm .banner_col_2 .banner_box .hover_shade,
#bannerFarm .banner_col_3 .banner_box .hover_shade {
  background-color: rgba(240, 240, 240, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

#bannerFarm .banner_col_1 .banner_box .hover_shade .download_image,
#bannerFarm .banner_col_2 .banner_box .hover_shade .download_image,
#bannerFarm .banner_col_3 .banner_box .hover_shade .download_image {
  position: absolute;
  bottom: 4px;
  right: 4px;
  width: 32px;
  height: 32px;
  padding: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
}

/* page view tabs */
.tabs .nav-tabs {
  border-bottom: 1px solid var(--table-borders);
  margin: 0;
  padding-top: 9px;
  padding-bottom: 0;
  line-height: inherit;
  height: 35px;
  margin-bottom: 10px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.tabs .nav-tabs .nav-tab {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  float: left;
  border: 1px solid #ccc;
  border-bottom: none;
  margin-left: 10px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 24px;
  background: #f1f1f1;
  color: #555;
  border-radius: 3px 3px 0 0;
  text-decoration: none;
}

.tabs .nav-tabs .nav-tab:last-child {
  margin-right: 10px;
}

.tabs .nav-tabs .nav-tab.pull-right {
  float: right;
}

.tabs .nav-tabs .nav-tab.nav-tab-active {
  border-bottom: 1px solid white;
  background: white;
  color: #000;
  margin-bottom: -1px;
}

.tabs .tab-body {
  display: none;
  min-height: 300px;
  direction: ltr;
  text-align: left;
  margin-top: 15px;
  position: relative;
}

.tabs .tab-body .form-group {
  padding: 10px;
}

.tabs .tab-body .form-group.half-width {
  display: inline-block;
  width: calc(50% - 20);
}

.tabs .tab-body .form-group.pull-right {
  text-align: right;
}

.tabs .tab-body .form-group label.form-field {
  font-weight: bold;
  width: 220px;
  display: inline-block;
}

.tabs .tab-body .form-group input.form-control {
  width: 400px;
  display: inline-block;
}

.tabs .tab-body.active {
  display: block;
}

.tabs .tab-body .form-group label.description {
  display: block;
  position: relative;
  left: 230px;
  max-width: calc(100% - 230px);
  font-size: 0.7rem;
}

.tabs .tab-body .actions-bar {
  padding: 15px 0;
}

/* page view tabs - end */
.pull-right {
  float: right;
}

.affiliate-heading > * {
  line-height: 40px;
  padding: 0;
}

@media only screen and (max-width: 715px) {
  .tab-body .form-group label.description {
    position: absolute;
    left: 10px;
    top: 70px;
  }
}
/*# sourceMappingURL=afm.css.map */