div#login.afm_form_container
{
	text-align: left;
	direction: ltr;
}

div#login.afm_form_container label
{
	width: 150px;
	display: inline-block;
}

#bannerFarm
{
	overflow: scroll;
	max-height: 600px;
}

.banner_col_1,.banner_col_2,.banner_col_3
{
	width: calc(33% - 10px);
	display: block;
	vertical-align: top;
	box-sizing: content-box;
	float: left;
	margin-right: 6px;
}

.banner_box
{
	position: relative;
	display: block;
	width: 100%;
	border:solid 2px #e0e0e0;
	vertical-align: middle;
	text-align: center;
	min-height: 100px;
	background: white;
	margin-bottom: 5px;
	margin-right:6px;
	padding:4px;
	box-sizing: border-box;
	max-height: 300px;
}

.banner_box .middle_helper
{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.banner_box img
{
	vertical-align: middle;
	max-height: 280px;
}

div.hover_shade
{
	background-color:rgba(240,240,240,0.5);
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index: 1000;
}

div.hover_shade .download_image:hover
{
	background-color: #c5c5c5;
}

div.hover_shade .download_image
{
	position:absolute;
	bottom:4px;
	right:4px;
	border:solid 1px gray;
	width:32px;
	height:32px;
	padding:4px;
	background-color: #d5d5d5;
	border-radius: 3px;
	cursor: pointer;
}

input[type=submit].button-small
{
	font-size:0.8rem;
}

.tab-view div.form-group label.form-field
{
	font-weight: bold;
	width:220px;
	display: inline-block;
}

.tab-view div.form-group input.form-control
{
	width: 400px;
	display: inline-block;
}

div.form-group
{
	padding:10px;
}

div.form-group.half-width
{
	display: inline-block;
	width:calc( 50% - 20 );
}

div.form-group.pull-right
{
	text-align: right;
}


/* page view tabs */
.tabs-wrapper .nav-tab-wrapper
{
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding-top: 9px;
	padding-bottom: 0;
	line-height: inherit;
	height: 35px;
	margin-bottom:10px;
	box-sizing: content-box;
}

.tabs-wrapper .nav-tab-wrapper .nav-tab
{
	box-shadow: none;
	outline: none;
	float: left;
	border: 1px solid #ccc;
	border-bottom: none;
	margin-left: .5em;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 24px;
	background: #f1f1f1;
	color: #555;
}

.tabs-wrapper .nav-tab-wrapper .nav-tab.pull-right
{
	float:right;
}

.tabs-wrapper .nav-tab-wrapper .nav-tab.nav-tab-active
{
	border-bottom: 1px solid #f1f1f1;
	background: white;
	color: #000;
	margin-bottom: -1px;
}

.afm_page table td,.afm_page table th
{
	border-collapse: collapse;
	padding:5px 10px;
	border:solid 1px #a9a9a9;
}

.afm_page .button-small,.afm_page .button-small:hover,.afm_page .button-small:focus
{
	padding:5px 10px;
}

.tabs-wrapper .tab-view
{
	display: none;
	min-height:300px;
	direction:ltr;
	text-align: left;
}

.tabs-wrapper .tab-view .standard-table thead th
{
	padding:3px;
}

.tabs-wrapper .tab-view .standard-table tbody tr td
{
	text-align: center;
}
.tabs-wrapper .tab-view .standard-table tbody tr td.left
{
	text-align: left;
}

.tabs-wrapper .tab-view.active
{
	display: block;
}

/* page view tabs - end */

.tab-view.active {
	display: block;
}
.tab-view
{
	display: none;
	margin-top: 15px;
	position: relative;
}

.tab-view .form-group label.description
{
	display:block;
	position:relative;
	left: 230px;
	max-width:calc(100% - 230px);
	font-size: 0.7rem;
}

.tab-view .actions-bar
{
	padding:15px 0;
}

.pull-right
{
	float:right;
}

.affiliate-heading > *
{
	line-height: 40px;
	padding:0;
}

@media only screen and (max-width: 715px)
{
   .tab-view .form-group label.description
   {
	   position: absolute;
	   left: 10px;
	   top: 70px;
   }
}